.container {
  background-color: #373737;
  height: 50px;
  width: 100%;
  color: white;
  font-size: 1rem;
  position: relative;
  position: fixed;
}
.main {
  display: flex;
  justify-content: space-between;
}
.header {
  font-size: 1rem;
  font-weight: bold;
  margin-left: 20px;
}
.email {
  margin-left: 20px;
}

.list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin-right: 30px;
}
.list li:hover {
  color: goldenrod;
}
.list li {
  margin: 0 0 0 20px;
  color: white;
}
.color {
  color: goldenrod;
}

@media screen and (max-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .list li {
    display: none;
  }
}
