.container {
  background-color: #111111;
  color: white;
  height: 40px;
  font-size: 0.9rem;
  width: 100vw;
}
.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header {
  margin-left: 20px;
}

.list {
  display: flex;
  list-style: none;
  margin-right: 20px;
}
.list li:hover {
  margin: 0 10px;
  color: goldenrod;

  border-radius: 5px;
}
.list li {
  margin: 0 10px;
  cursor: pointer;
}
.color {
  color: goldenrod;
}
