.container {
  background-color: #111111;
  height: 50px;
  width: 100%;
  color: white;
  font-size: 1rem;
  position: relative;
  position: fixed;
}
.main {
  display: flex;
  justify-content: space-between;
}
.header {
  font-size: 1rem;
  font-weight: bold;
  margin-left: 20px;
}

.list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 20px;
}
.list li:hover {
  color: goldenrod;
}
.list li {
  margin: 0 0 0 20px;
  color: white;
}
.color {
  color: goldenrod;
}

@media all and (max-width: 800px) {
  .container {
    width: 100%;
  }
}

@media all and (min-width: 375px) {
  .container {
    width: 100%;
  }
}
