.grid {
  display: grid;
  grid-template-columns: 11% 84%;
  grid-gap: 10px;
}

.grid1 {
  background-color: #222222;
  padding: 5px;
  height: 100vh;
  padding-top: 15px;
  margin-top: 35px;
}

.grid2 {
  background-color: #373737;
  padding: 0px;
  height: 100vh;
  padding-top: 0;
}

@media screen and (max-width: 1024px) {
  .grid {
    grid-template-columns: 100%;
    grid-gap: 0px;
  }
  .grid1 {
    display: none;
  }
  .grid2 {
    margin-top: 0;
  }
}

@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: 100%;
    grid-gap: 0px;
  }
  .grid1 {
    display: none;
  }
  .grid2 {
    margin-top: 0;
  }
}

@media screen and (max-width: 480px) {
  .grid {
    grid-template-columns: 100%;
    grid-gap: 0px;
  }
  .grid1 {
    display: none;
  }
  .grid2 {
    margin-top: 0;
  }
}
