.grid {
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.grid1 {
  background-color: #15171c;
  height: 100vh;
  width: 0;
}

@media screen and (max-width: 1024px) {
  .grid {
    grid-template-columns: 100%;
    grid-gap: 0px;
  }
  .grid1 {
    display: none;
  }
  .grid2 {
    margin-top: 0;
  }
}

@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: 100%;
    grid-gap: 0px;
  }
  .grid1 {
    display: none;
  }
  .grid2 {
    margin-top: 0;
  }
}

@media screen and (max-width: 480px) {
  .grid {
    grid-template-columns: 100%;
    grid-gap: 0px;
  }
  .grid1 {
    display: none;
  }
  .grid2 {
    margin-top: 0;
  }
}
