.container {
  display: flex;
}
.nav {
  background-color: #222222;
  height: 100vh;
  width: 220px;
}
.list {
  list-style: none;
  margin: 10px;
  padding: 0;
}

.list li {
  margin: 20px;
  padding: 5px;
  color: #ffffff;
  font-weight: bold;
  font-size: 0.8rem;
  cursor: pointer;
}

.list li:hover {
  background-color: goldenrod;
  color: #222222;
  border-radius: 5px;
}
.dashboard {
  display: flex;
  flex-direction: column;
}
.admin {
  color: goldenrod;
  margin: 0;
  margin-left: 30px;
}

.box {
  background-color: #222222;
  height: 80vh;
  width: 80vw;
  margin: 30px;
}

.listTitle {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  padding: 10px;
  background-color: #111111;
  color: white;
  font-weight: bold;
  text-align: center;
}

.employee {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background-color: white;
  color: black;
  text-align: center;
  margin-top: 10px;
  padding: 5px;
}

.employees {
  font-size: 1rem;
}
.active {
  color: green;
}

.btnemployees {
  background-color: #03ec03;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
  width: 60px;
  margin: 0 5px;
}
.btnemployees:hover,
.btnemployees:focus {
  background-color: #0bad06;
}

.btnemployees2 {
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
  width: 60px;
}
.btnemployees2:hover,
.btnemployees:focus {
  background-color: #c00404;
}

@media all and (max-width: 500px) {
  .nav {
    display: none;
  }
  .admin {
    display: none;
  }
  .container {
    width: 50vw;
  }
}
