.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.admin {
  margin: 30px;
  margin-top: 60px;
  color: white;
  font-size: 1.25em;
}
.table {
  border: none;
}
.thead {
  background-color: #111111;
  color: white;
  border-bottom: solid 2px goldenrod;
}
.table,
.th,
.td {
  border-collapse: collapse;
  padding: 10px;
  border: none;
}
.tbody {
  background-color: #222222;
  color: white;
  text-align: center;
}
.button {
  background-color: transparent;
  outline: none;
  border: none;
}

@media all and (max-width: 500px) {
  .nav {
    display: none;
  }
  .admin {
    display: none;
  }
  .container {
    width: 50vw;
  }
}
