.listItem {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.table {
  width: 600px;

  color: white;
  border-collapse: collapse;
  border-radius: 10px;
}
.table th {
  height: 40px;
  color: goldenrod;
  background-color: #111111;
  border-bottom: 2px solid goldenrod;
}

.table td {
  height: 100px;
  text-align: center;
  background-color: #222222;
}
