.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.forgot {
  background-color: #222222;
  height: 50%;
  width: 23%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
.header {
  color: white;
  background-color: goldenrod;
  margin: 0;
  padding: 10px;
  border-radius: 20px 20px 0 0;
  text-align: center;
  border-bottom: solid 1px black;
  margin: 1px;
  font-size: 1.5rem;
}
.container1 {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.label {
  text-align: center;
  color: white;
  padding: 10px;
  font-weight: bold;
  font-size: 1rem;
}

.email {
  padding: 5px;
  margin: 10px;
  width: 60%;
  border: none;
  background: none;
  border-bottom: 1px solid white;
  outline: none;
  color: grey;
  font-size: 0.8rem;
  text-align: center;
  opacity: 0.8;
}
.email:focus,
.email:hover {
  border-bottom: 1px solid goldenrod;
}

.btn {
  background-color: goldenrod;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
  transition: 0.5s;
  color: black;
}
