.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "form form";
  height: 100vh;
  background-image: url("/img/Dark theme.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70% 120%;
}

.form {
  grid-area: form;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form form {
  width: 100%;
  max-width: 500px;
  height: 60%;
  background-color: transparent;
  padding: 10px;
  border-radius: 20px;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;
  border-radius: 100000px;
}

.header1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
}

.Label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.input {
  width: 100%;
  margin-bottom: 1rem;
}

.email {
  width: 100%;
  height: 3rem;
  border: 1px solid #373737;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: #111111;
  color: #fff;
}

.wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
}

.password {
  width: 100%;
  height: 3rem;
  border: 1px solid #373737;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: #111111;
  color: #fff;
}

.eye {
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
  color: #fff;
}

.btn {
  width: 100%;
  height: 2rem;
  border: none;
  border-radius: 5px;
  background-color: #dca208;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}
.btn1 {
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
}

.forgot {
  text-align: center;
  color: #fff;
  margin-top: 1rem;
}

.forgot:hover {
  color: #dca208;
}

.signup {
  text-align: center;
  color: #fff;
  margin-top: 1rem;
  border-bottom: solid 1px #fff;
}

.signup:hover {
  color: #dca208;
  border-bottom: solid 1px #dca208;
}

@media (max-width: 1500px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "form" "form";
    background-image: url("/img/Dark theme.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .form form {
    height: 65%;
  }
  .btn1 {
    margin: 0 20px;
  }
  .logo {
    width: 40%;
    height: auto;
  }
}

@media (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "form" "form";
  }
  .form form {
    height: 65%;
  }
  .btn1 {
    margin: 0 20px;
  }
}

@media (max-width: 768px) {
  .form form {
    height: 65%;
    width: 100%;
  }
  .btn1 {
    flex-direction: column;
  }
  .signup {
    border-bottom: none;
  }
  .logo {
    width: 30%;
    height: auto;
  }
}

@media (max-width: 480px) {
  .container {
    background-image: url("/img/Dark theme.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto auto;
  }
  .form {
    padding: 20px;
  }
  .form form {
    height: 65%;
    border: none;
  }
  .btn1 {
    flex-direction: column;
  }
  .signup {
    border-bottom: none;
  }
  .logo {
    width: 40%;
    height: auto;
  }
}
