.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img {
  border: solid 1px goldenrod;
}
.text {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}
